/* * {
    margin: 0;
} */

.body-class {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(216, 199, 216);
    margin: 10px;
    border: 5px solid purple;
    border-radius: 5px;
    box-shadow: 2px 2px 10px plum;
}

h1 {
    text-align: center;
}

.info {
    display: flex;
}

.inquiry {
    width: 50%;
    margin: 20px;

}

.form {
    background-color: blueviolet;
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
    font-weight: 400;
}

.btn {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    border-radius: 5px;
    width: 100px;
}